*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 30vw;
    height: 30vw;
    background-color: lightblue;
    color: lightcoral;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 30px 15px
        rgba(0,0,0,0.75);
}